{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "plugins": ["jest"], 
  "parserOptions": {
    "ecmaVersion": 8
  },
  "globals": {
    "path": "readonly", 
    "fs": "readonly",
    "chalk": "readonly"
  },
  "extends": [
    "airbnb-base"
  ],
  "rules": {
    "no-unused-vars": "warn", 
    "no-undef": "error", 
    "no-use-before-define": "error", 
    "camelcase": "warn" 
  }
}
